{% extends "base.html" %}

{% block content %}
<br>
<div class="panel panel-default">
    <div class="panel-heading">
      {% if is_detail %}
          Recursos Asignados a <strong>{{person.first_name}}</strong>
          <a class="btn btn-primary" href="{% url 'personas:update-person' person.id %}"><i class="fa fa-plus"></i></a>
        {% else %}
        Recursos
      {% endif %}
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Categoria</th>
                        <th>Codigo</th>
                        <th>Serie</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                  {% for p in recursos %}
                    <tr>
                      <td>{{p.id}}</td>
                        <td>{{p.nombre}}</td>
                        <td>{{p.categoria}}</td>
                        <td>{{p.codigo}}</td>
                        <td>{{p.serie}}</td>
                        <td><a href="{% url 'recursos:update-recurso' p.id %}"><i class="fa fa-edit"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>
{% endblock %}
