{% extends "base.html" %}
{% load bootstrap_tags %}

{% block content %}
<h2>Registro de Recursos</h2>
  <form action="" method="post">
      {% csrf_token %}
      {{ form|as_bootstrap }}
      <div class="form-actions">
        <a href="{% url 'index' %}" class="btn">Regresar</a>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
  </form>
{% endblock content %}
