{% extends "base.html" %}

{% block content %}
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        Personas
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Recursos</th>
                    </tr>
                </thead>
                <tbody>
                  {% for p in personas %}
                    <tr>
                        <td>{{p.id}}</td>
                        <td>{{p.first_name}}</td>
                        <td>{{p.last_name}}</td>
                        <td><a class="btn btn-outline btn-primary" href="{% url 'personas:detail-person' p.id%}"> Ver</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>

{% endblock %}
